@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The goal of my project is to facilitate an easy process for task posters who cannot finish a task due to lack of equipment, disability, time constraints, distance, and connect them with the proper user who might be a private party who just happened to have the right equipment at the right time and place and maybe wants to make an extra dollar or two during his free time.
    Additionally, I picked this project because it is the right candidate to apply a lot of what I learned both academically in the university. The project is expanding on already similar business models that solved similar problems such as task rabbit, yelp, and more, but they did not provide a means and expand the idea and include a volunteer service that can help the community. The social approach within  this application is essential to its success since many people are seeking help from volunteers or people who are willing to help during these unprecedented times(this project proposal is developed  during the Covid-19 pandemic in the 2020 year)
    The web application has a minimal user interface to make it easy for users with minimum internet and online services experience to enjoy it. Many users interested in this web portal are senior and disabled people who require a simple platform with availability and responsiveness to handle their needs. The portal helps people connect in a safe and secure platform to communicate and propose projects and bid on them.
    The ultimate goal is to have a task done without any hassle and conflict, or complexity and have the platform be referred to more people by current happy users.
</p>
