@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    18 La Flauta<br />
    Rancho Santa Margarita, CA 92688<br />
    <abbr title="Phone">P:</abbr>
    949-616-9597
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@taskdone.com">Support@taskdone.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@taskdone.com">Support@taskdone.com</a>
</address>